:root {
    --text: #f7f7fd;
    --background: #0b0924;
    --primary: #441a65;
    --secondary: #350e33;
    --accent: #ce40c7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--background);
    color: var(--text);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.game-board-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 3rem 0;
    height: 300px;
    width: 300px;
}

h1,
#p1-points,
#p2-points {
    color: rgb(255, 69, 0, 0.7);
}

#p1-points,
#p2-points {
    font-size: 1.4rem;
    font-weight: bold;
}

.player1-score,
.player2-score {
    font-size: 1.4rem;
    margin: 1.2rem 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 4em;
    font-weight: bold;
    height: 100px;
    width: 100px;
}

.cell:hover {
    background: var(--primary);
}

.game-board-wrapper div {
    border-radius: 20%;
}

.game-board-wrapper div:nth-child(1),
.game-board-wrapper div:nth-child(2),
.game-board-wrapper div:nth-child(3) {
    border-top: none;
}

.game-board-wrapper div:nth-child(7),
.game-board-wrapper div:nth-child(8),
.game-board-wrapper div:nth-child(9) {
    border-bottom: none;
}

.game-board-wrapper div:nth-child(3),
.game-board-wrapper div:nth-child(6),
.game-board-wrapper div:nth-child(9) {
    border-right: none;
}

.game-board-wrapper div:nth-child(1),
.game-board-wrapper div:nth-child(4),
.game-board-wrapper div:nth-child(7) {
    border-left: none;
}

.game-board-wrapper div,
.reset {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.base-elems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.reset {
    padding: 0.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.game-status {
    font-size: 1.7rem;
    margin: -1rem 0 1.6rem 0;
}

.reset:hover {
    transform: rotate(360deg);
    transition: 0.6s linear;
    font-size: 1rem;
    color: rgb(255, 69, 0);
}